{% extends 'home_v1.html' %}
{% load static %}
		
		<!-- Container -->
		<div class="container">
			
			
			<!-- Content -->
			<div class="row content">
				{% block content %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i> News &amp; Reviews</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading">
                                <h4>New &amp; Reviews</h4>
                            </div>
                            
                    	</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample1.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. </p>
                                </div>
								<div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    <div class="row">    
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        	<div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample2.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.  </p>
                                </div>
                                <div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        	<div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample3.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.  </p>
                                </div>
                                <div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                        </div>
                   </div>
                   
                   
                   
                   <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        	<div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample4.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                </div>
                                <div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        	<div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample5.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                </div>
                                <div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        	<div class="blog-item">
                            	
                                <a href="blog_post.html"><img src="{% static 'img/blog/sample3.jpg' %}" alt=""></a>
                                <div class="blog-info">
                                	<h3><a href="blog_post.html">Fusce euismod consequat ante</a></h3>
                                    <div class="blog-meta">
                                    	<span class="date"><i class="icons icon-clock"></i> 21 December 2012</span>
                                        <span class="cat"><i class="icons icon-tag"></i> <a href="#">lorem</a>, <a href="#">tablet</a></span>
                                        <span class="views"><i class="icons icon-eye-1"></i> 11 times</span>
										<div class="rating-box">
											<span>Rate this item</span>
											<div class="rating readonly-rating" data-score="4"></div>
											<span>(1 vote)</span>
										</div>
                                    </div>
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  </p>
                                </div>
                                <div class="product-actions blog-actions">
									<span class="product-action dark-blue">
										<span class="action-wrapper">
											<i class="icons icon-doc-text"></i>
											<span class="action-name">Read more</span>
										</span>
									</span>
									<span class="product-action blue">
										<span class="action-wrapper">
											<i class="icons icon-pencil-1"></i>
											<span class="action-name">Add new comment</span>
										</span>
									</span>
								</div>
                            </div>
                        </div>
						
						
						<!-- Pagination -->
						<div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="category-results">
                                <p>Results 1-6 of 6</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="pagination">
                                <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                          
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
                {% endblock %}
                {% block sidebar %}
                <!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">
					
					<!-- Categories -->
					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Categories</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">Cameras &amp; Photography <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Computers &amp; Tablets <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Cell Phones &amp; Accessories <i class="icons icon-right-dir"></i></a>
                                    	<ul class="sidebar-dropdown">
                                        	<li>
                                            	<ul>
                                                	<li><a href="#">Cell phones &amp; Smartphone</a></li>
                                                    <li><a href="#">Cell Phone Accessories</a></li>
                                                    <li><a href="#">Headsets</a></li>
                                                    <li><a href="#">Cases, Covers & Skins</a></li>
                                                    <li><a href="#">Screen Protectors</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                            	<ul>
                                                	<li><a href="#">Chargers & Cradles</a></li>
                                                    <li><a href="#">Batteries</a></li>
                                                    <li><a href="#">Cables & Adapters</a></li>
                                                    <li><a href="#">All About Smartphones</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
									<li><a href="#">TV, Audio &amp; Surveillance <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Video Games &amp; Consoles <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Car Audio, Video &amp; GPS <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Best Sellers <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Shop by Brands <i class="icons icon-right-dir"></i></a></li>
									<li><a class="purple" href="#">All Categories</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
                    
                    
                    
                   	<!-- Compare Products -->
					<div class="row sidebar-box blue">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-docs"></i>
								<h4>Compare Products</h4>
							</div>
							<div class="sidebar-box-content">
                                <table class="compare-table">
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="{% static 'img/products/sample1.jpg' %}" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="{% static 'img/products/sample1.jpg' %}" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <div class="padding-box">
                                	<a class="button grey">Go to compare</a>
                                </div>
							</div>
						</div>
						
					</div>
					<!-- /Compare Products -->
					
					
					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="#"><img src="{% static 'img/sidebar-slide1.jpg' %}" alt="Slide1"/></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'img/sidebar-slide2.jpg' %}" alt="Slide1"/></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'img/sidebar-slide3.jpg' %}" alt="Slide1"/></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						
					</div>
					<!-- /Carousel -->
					
					
					<!-- Bestsellers -->
					<div class="row sidebar-box red">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            <i class="icons icon-award-2"></i>
								<h4>Bestsellers</h4>
							</div>
							
							<div class="sidebar-box-content">
								<table class="bestsellers-table">
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="{% static 'img/products/sample1.jpg' %}" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
											<span class="price">$550.00</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="{% static 'img/products/sample2.jpg' %}" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
											<span class="price">$550.00</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="{% static 'img/products/sample3.jpg' %}" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <div class="rating readonly-rating" data-score="4"></div>
											<span class="price"><del>$650.00</del> $550.00</span>
										</td>
									</tr>
									
								</table>
							</div>
							
						</div>
						
					</div>
					<!-- /Bestsellers -->
					
                    
				</aside>
                <!-- /Sidebar -->
                {% endblock %}
			</div>
			<!-- /Content -->
			
			
			{% block news %}{% endblock %}
