{% load static %}
        	<div class="box-wrapper parent-border">
                <p>Recently added item(s)</p>
                {% for item in product %}
                <table class="cart-table">
                	<tr>
                		<td><img src="{{ item.image }}" alt="product"></td>
                        <td>
                            <h6>{{ item.name }}</h6>
                            {{ item.id }}
                            <p>Product code PSBJ3</p>
                        </td>
                        <td>
                        	<span class="quantity"><span class="light">1 x</span> ${{ item.price }}</span>
                            <a href="#" class="parent-color">Remove</a>
                        </td>
                    </tr>
                    <!--tr>
                		<td><img src="{% static 'img/products/sample1.jpg' %}" alt="product"></td>
                        <td>
                            <h6>Lorem ipsum dolor</h6>
                            <p>Product code PSBJ3</p>
                        </td>
                        <td>
                        	<span class="quantity"><span class="light">1 x</span> $79.00</span>
                            <a href="#" class="parent-color">Remove</a>
                        </td>
                    </tr>
                    <tr>
                		<td><img src="{% static 'img/products/sample1.jpg' %}" alt="product"></td>
                        <td>
                            <h6>Lorem ipsum dolor</h6>
                            <p>Product code PSBJ3</p>
                        </td>
                        <td>
                        	<span class="quantity"><span class="light">1 x</span> $79.00</span>
                            <a href="#" class="parent-color">Remove</a>
                        </td>
                    </tr-->
                </table>
                {% endfor %}
                <br class="clearfix">
            </div>
<!--script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript">
$('.delete_item').click(function(){
    var pro_id=$(this).attr('data-id');
    var price=$(this).attr('data-price');
    var array=[sessionStorage.getItem('id')];
    alert(array);
});
</script--> 
            