{% extends 'home_v1.html' %}
{% load static %}
	
		<!-- Container -->
		<div class="container">
			{% block header %}
			<!-- Header -->
			<header class="row">
				
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<!-- Top Header -->
					<div id="top-header" class="style4">
						
						<div class="row">
							
							<nav id="top-navigation" class="col-lg-7 col-md-7 col-sm-7">
								<ul class="pull-left">
									<li><a href="/my_account">My Account</a></li>
									<li><a href="/list_order">List Order</a></li>
									<li><a href="/checkout">Checkout</a></li>
									<li><a href="/about_us">About Us</a></li>
									<li><a href="/contacts">Contact</a></li>
								</ul>
							</nav>
							
							<nav class="col-lg-5 col-md-5 col-sm-5">
								<ul class="pull-right">
									<li class="purple"><a href="#"><i class="icons icon-user-3"></i> Login</a>
										<ul id="login-dropdown" class="box-dropdown">
											<li>
                                            	<div class="box-wrapper">
                                                    <h4>LOGIN</h4>
                                                    <div class="iconic-input">
                                                        <input type="text" placeholder="Username">
                                                        <i class="icons icon-user-3"></i>
                                                    </div>
                                                    <div class="iconic-input">
                                                        <input type="text" placeholder="Password">
                                                        <i class="icons icon-lock"></i>
                                                    </div>
                                                    <input type="checkbox" id="loginremember"> <label for="loginremember">Remember me</label>
                                                    <br>
                                                    <br>
                                                    <div class="pull-left">
                                                        <input type="submit" class="orange" value="Login">
                                                    </div>
                                                    <div class="pull-right">
                                                        <a href="#">Forgot your password?</a>
                                                        <br>
                                                        <a href="#">Forgot your username?</a>
														<br>
                                                    </div>
                                                    <br class="clearfix">
                                                </div>
												<div class="footer">
													<h4 class="pull-left">NEW CUSTOMER?</h4>
													<a class="button pull-right" href="create_an_account.html">Create an account</a>
												</div>
											</li>
										</ul>
									</li>
									<li><a href="#"><i class="icons icon-lock"></i> Create an Account</a></li>
								</ul>
							</nav>
							
						</div>
						
					</div>
					<!-- /Top Header -->
					
					
					
					<!-- Main Header -->
					<div id="main-header" class="style4">
						
						<div class="row">
							
							<div id="logo" class="col-lg-4 col-md-4 col-sm-4">
								<a href="/"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
							</div>
							
							<nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
								<ul class="pull-right">
									<li class="blue">
										<a href="compare_products.html"><i class="icons icon-docs"></i>0 Items</a>
                                    </li>
									<li class="red">
										<a href="wishlist.html"><i class="icons icon-heart-empty"></i>2 Items</a>
                                    </li>
									<li class="orange"><a href="order_info.html"><i class="icons icon-basket-2"></i>17 Items</a>
                                    	<ul id="cart-dropdown" class="box-dropdown parent-arrow">
											<li>
                                            	<div class="box-wrapper parent-border">
                                                    <p>Recently added item(s)</p>
                                                    
                                                    <table class="cart-table">
                                                    	<tr>
                                                    		<td><img src="{% static 'img/products/sample1.jpg' %}' %}" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                            	<span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                    		<td><img src="{% static 'img/products/sample1.jpg' %}' %}" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                            	<span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                    		<td><img src="{% static 'img/products/sample1.jpg' %}' %}" alt="product"></td>
                                                            <td>
                                                                <h6>Lorem ipsum dolor</h6>
                                                                <p>Product code PSBJ3</p>
                                                            </td>
                                                            <td>
                                                            	<span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                                <a href="#" class="parent-color">Remove</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    
                                                    <br class="clearfix">
                                                </div>
                                                
												<div class="footer">
													<table class="checkout-table pull-right">
                                                    	<tr>
                                                        	<td class="align-right">Tax:</td>
                                                            <td>$0.00</td>
                                                        </tr>
                                                        <tr>
                                                        	<td class="align-right">Discount:</td>
                                                            <td>$37.00</td>
                                                        </tr>
                                                        <tr>
                                                        	<td class="align-right"><strong>Total:</strong></td>
                                                            <td><strong class="parent-color">$999.00</strong></td>
                                                        </tr>
                                                    </table>
												</div>
                                                
                                                <div class="box-wrapper no-border">
                                                	<a class="button pull-right parent-background" href="#">Checkout</a>
													<a class="button pull-right" href="order_info.html">View Cart</a>
                                                </div>
											</li>
										</ul>
                                    </li>
									
								</ul>
							</nav>
							
						</div>
						
					</div>
					<!-- /Main Header -->
					
					
					<!-- Main Navigation -->
					<nav id="main-navigation" class="style4">
						<ul>
							
							<li class="home-green">
								<a href="/">
									<i class="icons icon-shop-1"></i>
									<span class="nav-caption">Home</span>
									<span class="nav-description">Variety of Layouts</span>
								</a>
								
								<ul class="normal-dropdown normalAnimation">
									<li><a href="#">Layouts <i class="icons icon-right-dir"></i></a>
										<ul class="normalAnimation">
											<li><a href="home_v1.html">Layout 1</a></li>
											<li><a href="home_v2.html">Layout 2</a></li>
											<li><a href="home_v3.html">Layout 3</a></li>
										</ul>
									</li>
									<li><a href="#">Headers <i class="icons icon-right-dir"></i></a>
										<ul class="normalAnimation">
											<li><a href="home_v1.html">Header 1</a></li>
											<li><a href="home_v2.html">Header 2</a></li>
											<li><a href="home_v3.html">Header 3</a></li>
											<li><a href="category_v1.html">Header 4</a></li>
											<li><a href="category_v2.html">Header 5</a></li>
											<li><a href="products_page_v1.html">Header 6</a></li>
										</ul>
									</li>
									<li><a href="#">Footers <i class="icons icon-right-dir"></i></a>
										<ul class="normalAnimation">
											<li><a href="home_v1.html#footer">Footer 1</a></li>
											<li><a href="home_v2.html#footer">Footer 2</a></li>
											<li><a href="home_v3.html#footer">Footer 3</a></li>
											<li><a href="category_v1.html#footer">Footer 4</a></li>
											<li><a href="category_v2.htm#footer">Footer 5</a></li>
											<li><a href="products_page_v1.html#footer">Footer 6</a></li>
										</ul>
									</li>
									<li><a href="#">Sliders <i class="icons icon-right-dir"></i></a>
										<ul class="normalAnimation">
											<li><a href="home_v1.html">Revolution Slider</a></li>
											<li><a href="home_v2.html">IOS Slider</a></li>
											<li><a href="home_v3.html">Flex Slider</a></li>
										</ul>
									</li>
								</ul>
							</li>
							
							<li class="red">
								<a href="/camera">
									<i class="icons icon-camera-7"></i>
									<span class="nav-caption">Cameras</span>
									<span class="nav-description">Photo & Video</span>
								</a>
								
								<ul class="wide-dropdown normalAniamtion">
									<li>
										<ul>
											<li><span class="nav-caption">Digital Cameras</span></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Digital SLR</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Point &amp; Shoot</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Spy, Miniature</a></li>
										</ul>
									</li>
									<li>
										<ul>
											<li><span class="nav-caption">Digital Cameras</span></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Background Material</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Continuous Lighting</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Flash Lighting</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Light Meters</a></li>
										</ul>
									</li>
									<li>
										<ul>
											<li><span class="nav-caption">Digital Cameras</span></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Batteries</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Cables &amp; Adapters</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Camcorder Tapes &amp; Discs</a></li>
											<li><a href="#"><i class="icons icon-right-dir"></i> Cases, Bags &amp; Covers</a></li>
										</ul>
									</li>
								</ul>
								
							</li>
							
							<li class="blue current-item">
								<a href="/computers">
									<i class="icons icon-desktop-3"></i>
									<span class="nav-caption">Computers</span>
									<span class="nav-description">Laptops & Tablets</span>
								</a>
							</li>
							
							<li class="orange">
								<a href="/camera">
									<i class="icons icon-mobile-6"></i>
									<span class="nav-caption">Cell phones</span>
									<span class="nav-description">Phones & Accessories</span>
								</a>
							</li>
							
							<li class="green">
								<a href="/blog">
									<i class="icons icon-pencil-7"></i>
									<span class="nav-caption">Blog</span>
									<span class="nav-description">News & Reviews</span>
								</a>
							</li>
							
							<li class="purple">
								<a href="/contacts">
									<i class="icons icon-location-7"></i>
									<span class="nav-caption">Contact</span>
									<span class="nav-description">Store Locations</span>
								</a>
							</li>
							
							<li class="nav-search">
                                	<i class="icons icon-search-1"></i>
							</li>
							
						</ul>
						
						<div id="search-bar">
							
							<div class="col-lg-12 col-md-12 col-sm-12">
                            	<table id="search-bar-table">
                                    <tr>
                                    	<td class="search-column-1">
                                            <p><span class="grey">Popular Searches:</span> <a href="#">accessories</a>, <a href="#">audio</a>, <a href="#">camera</a>, <a href="#">phone</a>, <a href="#">storage</a>, <a href="#">more</a></p>
                                            <input type="text" placeholder="Enter your keyword">
                                        </td>
                                        <td class="search-column-2">
                                        	<p class="align-right"><a href="#">Advanced Search</a></p>
                                        	<select class="chosen-select-search">
                                                <option>All Categories</option>
                                                <option>All Categories</option>
                                                <option>All Categories</option>
                                                <option>All Categories</option>
                                                <option>All Categories</option>
                                            </select>
                                		</td>
                                    </tr>
                                </table>
							</div>
							<div id="search-button">
								<input type="submit" value="">
								<i class="icons icon-search-1"></i>
							</div>
						</div>
						
					</nav>
					<!-- /Main Navigation -->
					
				</div>
				
			</header>
			<!-- /Header -->
			{% endblock %}
			
			<!-- Content -->
			<div class="row content">
				{% block content %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i> Computers &amp; Tablets</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                    <div class="row">
                    
                    	<!-- Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>Computer &amp; Tablets</h4>
							</div>
							
						</div>
						<!-- /Heading -->
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="row subcategories">
                            	
                                <!-- Subcategory -->
                                <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">
                                	
                                    <a href="#"><img src="{% static 'img/products/sample1.jpg' %}" alt="Product1"></a>
                                    <div class="product-info">
                                        <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    
                                </div>
                               	<!-- /Subcategory --> 
                                
                                <!-- Subcategory -->
                                <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">
                                	
                                    <a href="#"><img src="{% static 'img/products/sample2.jpg' %}" alt="Product1"></a>
                                    <div class="product-info">
                                        <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    
                                </div>
                               	<!-- /Subcategory --> 
                                
                                <!-- Subcategory -->
                                <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">
                                	
                                    <a href="#"><img src="{% static 'img/products/sample3.jpg' %}" alt="Product1"></a>
                                    <div class="product-info">
                                        <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    
                                </div>
                               	<!-- /Subcategory --> 
                                
                                <!-- Subcategory -->
                                <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">
                                	
                                    <a href="#"><img src="{% static 'img/products/sample4.jpg' %}" alt="Product1"></a>
                                    <div class="product-info">
                                        <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    
                                </div>
                               	<!-- /Subcategory --> 
                                
                                <!-- Subcategory -->
                                <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">
                                	
                                    <a href="#"><img src="{% static 'img/products/sample5.jpg' %}" alt="Product1"></a>
                                    <div class="product-info">
                                        <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    </div>
                                    
                                </div>
                               	<!-- /Subcategory --> 
                                
                            </div>
                            
                        </div>
                        
                    </div>
                     
					<div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	<div class="category-heading">
								<select class="chosen-select">
                                	<option>Product name</option>
                                   	<option>Product name</option>
                                    <option>Product name</option>
                                    <option>Product name</option> 
                                </select>
                                <select class="chosen-select">
                                	<option>Select manufacturer</option>
                                   	<option>Product name</option>
                                    <option>Product name</option>
                                    <option>Product name</option> 
                                </select>
                                <div class="category-buttons">
									<a href="category_v1.html"><i class="icons icon-th-3 active-button"></i></a>
									<a href="category_v2.html"><i class="icons icon-th-list-4"></i></a>
								</div>
							</div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	<div class="category-results">
                            	<p>Results 1-6 of 6</p>
                                <p>Show 
                                <select class="chosen-select">
                                	<option>1</option>
                                   	<option>2</option>
                                    <option>6</option>
                                    <option>P10</option> 
                                </select>
                                per page
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	<div class="pagination">
                            	<a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                        
                   </div>
                   
                   <div class="row"> 
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample1.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample2.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample3.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample4.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample5.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample6.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample7.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample8.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample9.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample1.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample2.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="{% static 'img/products/sample3.jpg' %}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="category-results">
                                <p>Results 1-6 of 6</p>
                                <p>Show 
                                <select class="chosen-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>6</option>
                                    <option>P10</option> 
                                </select>
                                per page
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="pagination">
                                <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                        
                    </div>
					
					
						
				</section>
				<!-- /Main Content -->
				{% endblock %}
				
				
			</div>
			<!-- /Content -->
			
			

{% block news %}{% endblock %}	
{% block footer %}	
			<!-- Footer -->
			<footer id="footer" class="row">
				
				<!-- Upper Footer -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div id="upper-footer" class="no-border">
					
						<div class="row">
							
							<!-- Newsletter -->
							<div class="col-lg-7 col-md-7 col-sm-7">
								<form id="newsletter" action="php/newsletter.php">
									<h4>Newsletter Sign Up</h4>
									<input type="text" name="newsletter-email" placeholder="Enter your email address">
									<input type="submit" name="newsletter-submit" value="Submit">
								</form>
							</div>
							<!-- /Newsletter -->
							
							
							<!-- Social Media -->
							<div class="col-lg-5 col-md-5 col-sm-5 social-media">
								<h4>Stay Connected</h4>
								<ul>
									<li class="social-googleplus tooltip-hover" data-toggle="tooltip" data-placement="top" title="Google+"><a href="#"></a></li>
									<li class="social-facebook tooltip-hover" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"></a></li>
									<li class="social-pinterest tooltip-hover" data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="#"></a></li>
									<li class="social-twitter tooltip-hover" data-toggle="tooltip" data-placement="top" title="Twitter"><a href="#"></a></li>
									<li class="social-youtube tooltip-hover" data-toggle="tooltip" data-placement="top" title="Youtube"><a href="#"></a></li>
								</ul>
							</div>
							<!-- /Social Media -->
							
						</div>
					
					</div>
					
				</div>
				<!-- /Upper Footer -->
				
				
				<!-- Lower Footer -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div id="lower-footer">
					
						<div class="row">
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p class="copyright">Copyright 2014 <a href="#">HomeShop</a>. All Rights Reserved.</p>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<ul class="payment-list">
									<li class="payment1"></li>
									<li class="payment2"></li>
									<li class="payment3"></li>
									<li class="payment4"></li>
									<li class="payment5"></li>
								</ul>
							</div>
							
						</div>
						
					</div>
					
				</div>
				<!-- /Lower Footer -->
				
			</footer>
			<!-- Footer -->
			
            
            <div id="back-to-top">
            	<i class="icon-up-dir"></i>
            </div>
            {% endblock %}
		</div>
    	<!-- Container -->
		
	