{% extends 'home_v1.html' %}
{% load static %}
{% block navbar %}
					<!-- Top Header -->
					<div id="top-header">
						
						<div class="row">
							
							<nav id="top-navigation" class="col-lg-7 col-md-7 col-sm-7">
								<ul class="pull-left">
									<li><a href="/my_account">My Account</a></li>
									<li><a href="/list_order">List Order</a></li>
									<li><a href="/checkout">Checkout</a></li>
									<li><a href="/about_us">About Us</a></li>
									<li><a href="/contacts">Contact</a></li>
								</ul>
							</nav>
							
							<nav class="col-lg-5 col-md-5 col-sm-5">
								<ul class="pull-right">
									<li> Welcome {{ logged_in_user }}
										
									</li>
									<li><a href="/logout"> Logout</a></li>
								</ul>
							</nav>
							
						</div>
						
					</div>
					<!-- /Top Header -->
					
			{% endblock %}